@import url("./page.css");
@import url("./header.css");
@import url("./profile.css");
@import url("./skills.css");
@import url("./projects.css");
@import url("./footer.css");

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2");
}